/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       BACKGROUND        ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

html, body
{
	margin : 0px;
	padding : 0px;
}

html
{
	background : url("background.gif");
	background-color : #4D4D4D;
	font-family : "Trebuchet MS" , sans-serif;
}

.important
{
	color: red;
	font-weight: large;
	display:inline;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////    STRUCTURE GLOBALE    ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#conteneur
{
	width : 80%;
	min-width : 600px;
	margin : auto;
	margin-top : 35px;
	padding-bottom : 25px;
}

#corps
{
	width : 100%;
	background-color : #FFFFFF;
	color : #000000;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////        BANNIERE        ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#banniere
{
	height : 300px;
	background : url("banniere.jpg") top right;
	overflow : hidden;
	position : relative;
}

#logo
{
	width : 443px;
	height : 59px;
	background : url("logo.png");
	float : left;
	position : relative;
	left : 100px;
	top : 150px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////          TEXTE          ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#texte 
{
	padding : 20px;
	margin-left : 217px;
	text-align : justify;
	font-size : 15px;
}

.cadre
{
	border : 1px solid #9CD4FF;
	background-color : #FFFFFF;
}

.titre
{
	height : 26px;
	background : url("cadre.png");
	color : #FFFFFF;
	text-align : center;
	font-size : 14px;
	font-weight : bold;
	padding-top : 6px;
}

.marge_interne
{
	padding : 10px 10px 0px 10px;
}

p
{
	margin-top : 0px;
}

h1
{
	font-size : 19px;
	margin-top : 0px;
}

h2
{
	font-size : 16px;
	margin-top : 0px;
}
		
a
{
	color : #288de8;
	text-decoration : none;
}

a:hover
{
	color : #ff8000;
}

#overflow
{
	overflow : hidden;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////     MENU HORIZONTAL     ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#MH
{
	height : 33px;
	background : url("MH.png");
	margin : 0px;
	padding : 0px;
	text-align : center;
}

#MH a
{
	display : inline-block;
	margin : 0px;
	font-size : 14px;
	font-weight : bold;
}

.groupe_lien_MH
{
	display : inline-block;
	position: relative;
	margin-right:5px;
	margin-left:-1px;
	z-index : 90;
}

.groupe_lien_MH a.menu_MH
{
	height : 26px;
	width:160px;
	padding-top : 7px;
	padding-left:0px;
	padding-right:0px;
	text-decoration:none;
	text-align : center;
	color : #FFFFFF;
}

.groupe_sublien_MH
{
	display : none;
	position: absolute;
	min-width :100%;
	top:33px;
	left :0px;
	padding-left:0px;
	padding-right:0px;
	text-align : left;
}

.sublien_MH a
{
	position : relative;
	height : 28px;
	width : 120px;
	padding-top : 9px;
	background : url("MH_deroulant.png");
	background-repeat: repeat;
	text-align : left;
	color:#FFFFFF;
}

.groupe_sublien_MH a
{
	padding-top : 9px;
	padding-left:20px;
	padding-right:20px;
	white-space: pre;
	color:#FFFFFF;
}

.groupe_lien_MH:hover .groupe_sublien_MH, .groupe_lien_MH_hover .groupe_sublien_MH
{
}

.groupe_lien_MH:hover a.menu_MH, .groupe_lien_MH_hover a.menu_MH
{
	background : url("MH_hover.png");
	text-decoration:underline;
	color : #C8C8C8;
}

.sublien_MH a:hover
{
	background : url("MH_deroulant_hover.png");
	color:#C8C8C8;
}

.MH_deroulant_bottom
{
	height : 1px;
	width : 160px;
	background : url("MH_deroulant_bottom.png") repeat-x;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////     MENU VERTICAL     ////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#fond_MV
{
	background : url("fond_MV.png") left repeat-y;
}

#MV
{
	width : 202px;
	float : left;
	text-align : center;
	margin-top : 20px;
	margin-left : 6px;
}

.marge_MV
{
	height : 20px;
}

.en_tete_MV
{
	width : 202px;
	height : 25px;
	padding-top : 2px;
	background : url("en_tete_MV.png") no-repeat;
	text-align : center;
	padding-left:0px;
	padding-right:0px;
	margin : 0px;
	color : #FFFFFF;
	font-size : 17px;
	position:relative;
}

a.lien_MV
{
	width : 202px;
	height : 22px;
	padding-top : 5px;
	background : url("bouton_MV.png") no-repeat;
	padding-left:0px;
	padding-right:0px;
	text-align : center;
	color : #FFFFFF;
	font-size : 12px;
	text-decoration : none;
	display : block;
}

a.lien_MV:hover
{
	background : url("bouton_MV_hover.png") no-repeat;
	color : #DDDDDD;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////       BAS DE PAGE       ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#pied_de_page
{
	height : 34px;
	background : url("pied_de_page.png") center;
	text-align : center;
	padding-top : 16px;
	color : #FFFFFF;
	clear : both;
}

#pied_de_page a
{
	color : #FFFFFF;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////         BORDURE         ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

#CHG
{
	background : url("CHG.png") no-repeat top left;
	float : left;
	width : 8px;
	height : 8px;
	margin : 0px;
}

#CHD
{
	background : url("CHD.png") no-repeat top right;
	float : right;
	width : 8px;
	height : 8px;
	margin : 0px;
}

#CBG
{
	background : url("CBG.png") no-repeat bottom left;
	float : left;
	width : 8px;
	height : 8px;
	margin : 0px;
}

#CBD
{
	background : url("CBD.png") no-repeat bottom right;
	float : right;
	width : 8px;
	height : 8px;
	margin : 0px;
}

#BH
{
	background : url("BH.png") repeat-x top center;
	margin-right : 8px;
	margin-left : 8px;
	height : 8px;
}

#BG
{
	background : url("BG.png") repeat-y left;
	padding-left : 8px;
	margin : 0px;
}

#BD
{
	background : url("BD.png") repeat-y right;
	padding-right : 8px;
	margin : 0px;
}

#BB
{
	background : url("BB.png") repeat-x bottom center;
	margin-right : 8px;
	margin-left : 8px;
	height : 8px;
	padding : 0px;
}